.lgo_000{top:-2px;left:-2px;
width:1px;height:1px;background: url("sprites_mobile.png") no-repeat -0px -1038px;}
.lgo_001{top:82px;left:113px;
width:47px;height:24px;background: url("sprites_mobile.png") no-repeat -160px -1015px;}
.lgo_002{top:77px;left:113px;
width:71px;height:29px;background: url("sprites_mobile.png") no-repeat -240px -988px;}
.lgo_003{top:72px;left:113px;
width:77px;height:34px;background: url("sprites_mobile.png") no-repeat -240px -954px;}
.lgo_004{top:45px;left:113px;
width:80px;height:61px;background: url("sprites_mobile.png") no-repeat -160px -954px;}
.lgo_005{top:27px;left:113px;
width:80px;height:79px;background: url("sprites_mobile.png") no-repeat -80px -954px;}
.lgo_006{top:14px;left:113px;
width:80px;height:92px;background: url("sprites_mobile.png") no-repeat -0px -946px;}
.lgo_007{top:7px;left:113px;
width:80px;height:99px;background: url("sprites_mobile.png") no-repeat -943px -590px;}
.lgo_008{top:7px;left:113px;
width:80px;height:99px;background: url("sprites_mobile.png") no-repeat -943px -491px;}
.lgo_009{top:7px;left:98px;
width:95px;height:99px;background: url("sprites_mobile.png") no-repeat -941px -392px;}
.lgo_010{top:7px;left:95px;
width:98px;height:99px;background: url("sprites_mobile.png") no-repeat -941px -293px;}
.lgo_011{top:7px;left:94px;
width:99px;height:99px;background: url("sprites_mobile.png") no-repeat -929px -855px;}
.lgo_012{top:7px;left:94px;
width:99px;height:99px;background: url("sprites_mobile.png") no-repeat -929px -756px;}
.lgo_013{top:7px;left:94px;
width:99px;height:99px;background: url("sprites_mobile.png") no-repeat -917px -0px;}
.lgo_014{top:7px;left:94px;
width:99px;height:104px;background: url("sprites_mobile.png") no-repeat -910px -189px;}
.lgo_015{top:7px;left:81px;
width:171px;height:189px;background: url("sprites_mobile.png") no-repeat -739px -189px;}
.lgo_016{top:7px;left:74px;
width:178px;height:189px;background: url("sprites_mobile.png") no-repeat -739px -0px;}
.lgo_017{top:7px;left:61px;
width:191px;height:189px;background: url("sprites_mobile.png") no-repeat -738px -756px;}
.lgo_018{top:7px;left:48px;
width:204px;height:189px;background: url("sprites_mobile.png") no-repeat -737px -378px;}
.lgo_019{top:7px;left:35px;
width:217px;height:189px;background: url("sprites_mobile.png") no-repeat -726px -567px;}
.lgo_020{top:7px;left:19px;
width:233px;height:189px;background: url("sprites_mobile.png") no-repeat -493px -567px;}
.lgo_021{top:7px;left:8px;
width:244px;height:189px;background: url("sprites_mobile.png") no-repeat -493px -378px;}
.lgo_022{top:7px;left:5px;
width:247px;height:189px;background: url("sprites_mobile.png") no-repeat -0px -567px;}
.lgo_023{top:7px;left:5px;
width:247px;height:189px;background: url("sprites_mobile.png") no-repeat -0px -0px;}
.lgo_024{top:7px;left:5px;
width:247px;height:189px;background: url("sprites_mobile.png") no-repeat -0px -189px;}
.lgo_025{top:7px;left:5px;
width:247px;height:189px;background: url("sprites_mobile.png") no-repeat -0px -378px;}
.lgo_026{top:7px;left:6px;
width:246px;height:189px;background: url("sprites_mobile.png") no-repeat -493px -189px;}
.lgo_027{top:7px;left:6px;
width:246px;height:189px;background: url("sprites_mobile.png") no-repeat -247px -189px;}
.lgo_028{top:7px;left:6px;
width:246px;height:189px;background: url("sprites_mobile.png") no-repeat -492px -756px;}
.lgo_029{top:7px;left:6px;
width:246px;height:189px;background: url("sprites_mobile.png") no-repeat -493px -0px;}
.lgo_030{top:7px;left:6px;
width:246px;height:189px;background: url("sprites_mobile.png") no-repeat -0px -756px;}
.lgo_031{top:7px;left:6px;
width:246px;height:189px;background: url("sprites_mobile.png") no-repeat -247px -0px;}
.lgo_032{top:6px;left:6px;
width:246px;height:190px;background: url("sprites_mobile.png") no-repeat -246px -756px;}
.lgo_033{top:7px;left:6px;
width:246px;height:189px;background: url("sprites_mobile.png") no-repeat -247px -378px;}
.lgo_034{top:7px;left:6px;
width:246px;height:189px;background: url("sprites_mobile.png") no-repeat -247px -567px;}
